.ipynb_checkpoints/perlan-nb-checkpoint.ipynb
/data/Flight%200047/Flight%200047%20UTN.XRG
/data/Flight%200049/Flight%200049%20CITEDEF.txt
/data/Flight%200051/Flight%200051%20UTN.XRG
/data/Flight%200053/Flight%200053%20CITEDEF/Flight%200053%20CITEDEF.txt
__pycache__/getters.cpython-35.pyc
code/perlan-fork-scripts/.ipynb_checkpoints/perlan-nb-checkpoint.ipynb
code/perlan-fork-scripts/.vscode/settings.json
code/perlan-fork-scripts/__pycache__/capture_filenames.cpython-35.pyc
code/perlan-fork-scripts/__pycache__/capture_filenames.cpython-36.pyc
code/perlan-fork-scripts/__pycache__/getters.cpython-35.pyc
code/perlan-fork-scripts/__pycache__/getters.cpython-36.pyc
perlan-nb.ipynb