__pycache__/getters.cpython-35.pyc
.ipynb_checkpoints/perlan-nb-checkpoint.ipynb
perlan-nb.ipynb
/data/Flight%200049/Flight%200049%20CITEDEF.txt
/data/Flight%200053/Flight%200053%20CITEDEF/Flight%200053%20CITEDEF.txt
/data/Flight%200051/Flight%200051%20UTN.XRG
/data/Flight%200047/Flight%200047%20UTN.XRG